.cv-container {
    width: 1024px;
    margin: 0 auto;
    border: 1px solid #c3c3d3;
}

.cv-container .ant-layout-sider {
    background: #fff;
}

.cv-widget {
    margin: 20px;
    box-shadow: red 3px 2px 2px;
    padding: 20px 20px;
}


.cv-m-auto {
    margin: 0 auto;
}

.cv-profile .logo {
    width: 150px;
    margin: 0 auto;
}

.myself {
    padding: 10px;
}